

.transaction-outer {
    font-style: Arial,sans-serif;
    font-size: 12pt;
  
}

.transaction-inner {

    height:240px;
}

.header {
    font-weight: bold;
}

.title-text {
    font-weight: bold;
    color:white;
}


.btn {
    background-color: DodgerBlue; 
    border: none; 
    color: white; 
    padding: 12px 16px;
    font-size: 12pt; 
    cursor: pointer; 
    border-radius:3px;
  }
  
 
  .btn:hover {
    background-color: RoyalBlue;
  }
