<div class="container">


    <form [formGroup]="transactionform" (ngSubmit)="processTransaction()">

        <div class="row align-items-center">

            <div class="col-sm-3">

                Amount:<input style="height:25px;width:120px" formControlName="amount" type="number" />

                <select style="height:24px" name="selectedCurrency" formControlName="selectedCurrency">
                    <option *ngFor="let ccy of currencies" [value]="ccy">{{ccy}}</option>
                </select>

            </div>
 
            <div class="col-sm-1">

                <button type="submit" class="btn-submit"
                    [disabled]="!transactionform.valid" mat-stroked-button
                    color="primary">Submit</button>

            </div>

            <div class="col-sm-1">

                <button class="btn-cancel" type="button" color="elegant" (click)="cancelTransaction()">Cancel</button>
  
            </div>
        </div>

    </form>

</div>
<br>  
 

<div class="container">

    <div class="row">

        <div class="col-sm-12" *ngIf="!transactionform.controls.amount.valid && (transactionform.controls.amount.dirty || transactionform.controls.amount.touched)"
            class="col alert alert-danger text-center"> 
            Amount cannot be blank, zero or below, above 50000 or have more than two decimal places
        </div>

    </div>


</div>
